<html>
    <h1>Node [[${name}]]</h1>

    <h2>Transactions</h2>
    <form action="/transactions" method="post">
        <fieldset>
            From <input type="text" name="from"/>
            To <input type="text" name="to" />
            Amount <input type="text" name="amount" />
            <input type="submit" value="Create"/>
        </fieldset>
    </form>
    
    <table>
        <tr th:each="transaction : ${transactions}">
            <td th:text="${transaction}">From</td>
        </tr>
    </table>

    <h2>Blocks</h2>
    <form action="/mine" method="get">
        <input type="hidden" name="redirect" value="/">
        <input type="submit" value="Mine">
    </form>
    <table>
        <tr th:each="block : ${blocks}">
            <td th:text="${block}">From</td>
        </tr>
    </table>
</html>